<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- CBPortal Login Details for CPA -->
    <add key="CPATestURL" value="https://proxy.paymentslab.nl/cpa/"/>
    <add key ="CPATestApplication" value="https://proxy.paymentslab.nl/cpa/"/>
    <add key="CAPTestUser1" value="WB65390918"/>

    <add key="SpeedFactor" value="1.2" />
    
    
    
    <!-- Lanuage Checks-->

    <add key="NL_Preferences" value="Voorkeuren"/>
    <add key="EN_Preferences" value="Preferences"/>
    
    
    <!-- User specific configuations-->
    <add key="WB65390918_Widgets" value ="Transactions;Downloads;Messages;Order management, Files"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest.2010"/>
  </specFlow>
</configuration>